APP_NAME=<replacewithyourvalues>
DEBUG = <replacewithyourvalues>
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/deductly
DATABASE_URL=p<replacewithyourvalues>
SECRET_KEY=<replacewithyourvalues>
ACCESS_TOKEN_EXPIRE_MINUTES=<replacewithyourvalues>
ALGORITHM=<replacewithyourvalues>
FERNET_KEY=j<replacewithyourvalues>
GOOGLE_CLIENT_ID=<replacewithyourvalues>
GOOGLE_CLIENT_SECRET=<replacewithyourvalues>
GOOGLE_REDIRECT_URI=<replacewithyourvalues>
GOOGLE_MAPS_API_KEY=<replacewithyourvalues>


AWS_ACCESS_KEY=<replacewithyourvalues>
AWS_SECRET_KEY=<replacewithyourvalues>
AWS_REGION=<replacewithyourvalues>
S3_BUCKET=<replacewithyourvalues>
